
    <section class="photo-gallery py-4 py-xl-5" style="padding-top: 49px;margin-top: -77px;">
        <div class="container">
            <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
            <br><br>
            <div class="row gx-1 gy-1 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
                <div class="col item"><a href="assets/img/adultos/IMG1.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/adultos/IMG1.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG2.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/adultos/IMG2.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG3.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/adultos/IMG3.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG4.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG4.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG5.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG5.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG6.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG6.jpg" width="323" height="348"></a></div>
                
                <div class="col item"><a href="assets/img/adultos/fotoum.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/fotoum.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/fotodois.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/fotodois.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/fototres.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/fototres.jpg"></a></div>

                <div class="col item"><a href="assets/img/adultos/IMG18jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG18.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG19jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG19.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG20jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG20.jpg"></a></div>
               
                
                <div class="col item"><a href="assets/img/adultos/IMG7.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG7.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG8.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG8.jpg"></a></div>
                <div class="col-xxl-4 offset-xxl-0 item"><a href="assets/img/adultos/IMG9.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG9.jpg" width="323" height="350"></a></div>
                
                
                <div class="col item"><a href="assets/img/adultos/IMG17jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG17.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG22jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG22.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG23jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG23.jpg"></a></div>
                
                <div class="col item"><a href="assets/img/adultos/fotoquatro.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/fotoquatro.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG11.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG11.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/IMG13.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG13.jpg"></a></div>
         
              
                <div class="col item"><a href="assets/img/adultos/IMG14.jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/IMG14.jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/SFS (3).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/SFS (3).jpg"></a></div>
                <div class="col item"><a href="assets/img/adultos/SFS (2).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/adultos/SFS (2).jpg"></a></div> 
        </div>
        <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
        <br>
    </div>
    </section>
    