
    <section class="photo-gallery py-4 py-xl-5" style="padding-top: 49px;margin-top: -77px;">
        <div class="container">
            <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
           <br><br>
            <div class="row gx-1 gy-1 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
               
                <div class="col item"><a href="assets/img/niver/_MG_8236.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_8236.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_8252.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_8252.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_8225.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_8225.jpg"></a></div>

                <div class="col item"><a href="assets/img/niver/_MG_8173.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_8173.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_8118.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_8118.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_8174.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_8174.jpg"></a></div>
               
                <div class="col item"><a href="assets/img/niver/_MG_0953.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_0953.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_0953.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_0993.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_0953.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_1004.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_0953.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_0974.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_0953.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_0984.jpg"></a></div>
                <div class="col item"><a href="assets/img/niver/_MG_0953.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/niver/_MG_1006.jpg"></a></div>
            </div>
            <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
            <br>
        </div>
    </section>
