
    <section class="photo-gallery py-4 py-xl-5" style="padding-top: 49px;margin-top: -77px;">
        
        <div class="container">
            <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
            <br><br>
            <div class="row gx-1 gy-1 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
               
                <div class="col item"><a href="assets/img/graduacao/_MG_3865.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/_MG_3865.jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/_MG_3902.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/_MG_3902.jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_3.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_3.jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/_MG_3881.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/_MG_3881.jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_7 (2).jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_7 (2).jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_5 (2)jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_5 (2).jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_4.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_4.jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_3 (2).jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_3 (2).jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_1.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_1.jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1 (2).jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1 (2).jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_7 .jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_7.jpg"></a></div>
                <div class="col item"><a href="assets/img/graduacao/1_1 (2).jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/graduacao/1_1 (2).jpg"></a></div>

            </div>
            <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
            <br>
        </div>
    </section>
