
    <section class="d-xxl-flex flex-row flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto justify-content-xxl-center align-items-xxl-center" style="padding: 0;padding-right: 0px;margin-top: 0px;margin-right: 0;margin-bottom: 0;">
        <section class="d-grid d-xxl-flex flex-row flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto justify-content-xxl-center align-items-xxl-center photo-gallery py-4 py-xl-5">
            <div class="container flex-row flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto" style="width: auto;margin-top: 8px;padding-top: 0px;">
                <div class="row mb-5" style="padding-bottom: 0px;margin-bottom: 75px;margin-top: -29px;">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 style="margin-bottom: -26px;">Fotografias</h2>
                    </div>
                </div>
                    <div class="row gx-1 gy-1 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
                    <div class="col item"><a href="assets/img/Home/FotoUmquatro.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/FotoUmquatro.jpg"></a></div>
                    <div class="col item"><a href="assets/img/Home/FotoTres.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/FotoTres.jpg"></a></div>
                    <div class="col item"><a href="assets/img/Home/FotoUmCinco.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/FotoUmCinco.jpg"></a></div>
                    <div class="col item"><a href="assets/img/Home/fotosete.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/fotosete.jpg"></a></div>
                    <div class="col item"><a href="assets/img/Home/fotooito.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/fotooito.jpg"></a></div>
                    <div class="col item"><a href="assets/img/Home/fotonove.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/fotonove.jpg"></a></div>
          
                    <div class="col item"><a href="assets/img/Home/FotoDois.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/FotoDois.jpg"></a></div>
                    <div class="col item"><a href="assets/img/Home/FotoUmOito.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/FotoUmOito.jpg"></a></div>
                    <div class="col item"><a href="assets/img/Home/FotoUmSei.jpg"><img class="img-fluid" data-bss-hover-animate="pulse" src="assets/img/Home/FotoUmSei.jpg"></a></div>
                   
                    
                </div>
            </div>
        </section>
    </section>
    <section>
        <div class="container py-4 py-xl-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-xxl-12" style="margin-top: -30px;padding-top: 0px;">
                    <h2 data-aos="fade-down" data-aos-duration="700" id="sobrenos" style="color: #703f24;font-weight: bold;text-align: center;">Sobre Nós</h2>
                    <p class="text-break fs-6 justify-content-center align-items-center align-content-center flex-nowrap w-lg-50" data-aos="fade-down" data-aos-duration="800" style="color: #703f24;font-weight: bold;font-family: 'Noto Sans Inscriptional Pahlavi', sans-serif;margin-bottom: -13px;padding-bottom: 12px;margin-top: -10px;padding-right: 0px;padding-left: 0px;text-align: justify;">Somos a NK-STUDIOS, uma equipe especializada em fotografias, composta por profissionais experientes, que com utilização de&nbsp; materiais&nbsp;adequados ajudamos nossos "clientes" a registrarem seus " momentos especiais ", salvaguardando e eternizando memórias em fotos com qualidades.&nbsp;</p>
                </div>
            </div>
            <div class="row gy-3 row-cols-1 row-cols-md-4 flex-row justify-content-center align-items-center align-content-center" data-aos="fade-down" data-aos-duration="950">
                <div class="col">
                    <div class="card border-0 shadow-none" style="background: #dddddd;border-width: 3px;border-color: #703f24;border-left-width: 3px;border-left-color: #703f24;">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0" data-bss-hover-animate="pulse" style="border-radius: 10px;border-top: 1px solid #703f24;border-left: 1px solid #703f24;box-shadow: 0px 0px 5px 1px #703f24;"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/team/AHCC.jpg">
                            <h5 class="fw-bold text-primary card-title mb-0" style="color: var(--bs-card-bg);font-weight: bold;"><span style="color: rgb(112, 63, 36);">Aquilino Carvalho</span></h5>
                            <p class="text-muted card-text mb-2" style="color: #703f24;font-weight: bold;"><span style="color: rgb(112, 63, 36);">Fotográfo</span></p>
                            <div id="sobrenos"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-none" style="background: #dddddd;">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0" data-bss-hover-animate="pulse" style="border-radius: 10px;border-top: 1px solid #703f24;border-left: 1px solid #703f24;box-shadow: 0px 0px 5px 1px #703f24;"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/team/RUSLAN.jpg">
                            <h5 class="fw-bold text-primary card-title mb-0" style="color: var(--bs-card-bg);"><span style="color: rgb(112, 63, 36);">Vanilson</span> <span style="color: rgb(112, 63, 36);">Cambanga</span></h5>
                            <p class="text-muted card-text mb-2" style="color: #703f24;font-weight: bold;"><span style="color: rgb(112, 63, 36);">Fotográfo</span></p>
                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-none" style="background: #dddddd;">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0" data-bss-hover-animate="pulse" style="box-shadow: 0px 0px 5px 1px #703f24;border-radius: 10px;border-top: 1px solid #703f24 ;border-left: 1px solid #703f24 ;"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/team/_MG_8035.jpg">
                            <h5 class="fw-bold text-primary card-title mb-0" style="color: var(--bs-blue);"><span style="color: rgb(112, 63, 36);">Nvuala Carvalho</span></h5>
                            <p class="text-muted card-text mb-2" style="color: #703f24;font-weight: bold;"><span style="color: rgb(112, 63, 36);">Fotográfo</span></p>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="d-grid d-xxl-flex flex-row flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto justify-content-xxl-center align-items-xxl-center photo-gallery py-4 py-xl-5">
            <div class="container flex-row flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto" style="width: auto;margin-top: 8px;padding-top: 0px;">
                <div class="row mb-5" style="padding-bottom: 0px;margin-bottom: 75px;margin-top: -29px;">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 style="margin-bottom: -26px;">videos</h2>
                    </div>
                </div>
                    <div class="row gx-1 gy-1 row-cols-1 row-cols-md-2 row-cols-xl-2 video" data-bss-baguettebox="">
                    <div class="col item"><a href="assets/vd/L&O ADGT + MALA E QUADRO.mp4"><video class="img-fluid" data-bss-hover-animate="pulse" src="assets/vd/L&O ADGT + MALA E QUADRO.mp4" controls></a></div>
                    <div class="col item"><a href="assets/vd/OFST3777.mp4"><video class="img-fluid" data-bss-hover-animate="pulse" src="assets/vd/OFST3777.mp4" controls></a></div>
                </div>
            </div>
        </section>
    </section>
  