
  
   <section class="photo-gallery py-4 py-xl-5" style="padding-top: 49px;margin-top: -77px;">
        <div class="container">
            <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
           <br><br>
            <div class="row gx-1 gy-1 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
              
                <div class="col item"><a href="assets/img/infantil/IMG2.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG2.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG3jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG3.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG8.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG8.jpg"></a></div>


                               
                <div class="col item"><a href="assets/img/infantil/IMG9.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG9.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG15pg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG15.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG16.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG16.jpg"></a></div>

                <div class="col item"><a href="assets/img/infantil/IMG17.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG17.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG18pg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG12.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG20.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG7.jpg"></a></div>

        
                <div class="col item"><a href="assets/img/infantil/IMG4.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/img4.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG19pg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/img19.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG13.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/img13.jpg"></a></div>

                <div class="col item"><a href="assets/img/infantil/IMG18.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG18.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG20.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG20.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG24.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG24.jpg"></a></div>


                <div class="col item"><a href="assets/img/infantil/2.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/2.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/1.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/1.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/6.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/6.jpg"></a></div>


                <div class="col item"><a href="assets/img/infantil/IMG21.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG21.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG22jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG22.jpg"></a></div>
                <div class="col item"><a href="assets/img/infantil/IMG23.jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/infantil/IMG23.jpg"></a></div>        
            </div>
            <a class="btn" id="flex" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/5g8tWjTMBrbRd2q17" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd; margin-top:50px;" > Fazer Marcação</a>
           <br><br>
        </div>
       
    </section>
