
    <section class="py-5 mt-5">
        <div class="container py-4 py-xl-5" style="padding-top: 12px;margin-top: -32px;">
            <div class="row mb-5" style="padding-bottom: 0px;margin-bottom: 68px;margin-top: 39px;">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2><strong><span style="color: rgb(112, 63, 36);">Pacotes</span></strong></h2>
                    <p class="w-lg-50"><span style="color: rgb(112, 63, 36);">Escolha um dos pacotes abaixo para a cobertura do seu evento.</span></p>
                    <p class="w-lg-50" style="margin-top: -21px;"><strong><span style="color: rgb(112, 63, 36);">Para Noivados</span></strong></p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="margin-top: -70px;background: #dddddd;border-radius: 10px;">
                <div class="col" style="background: #dddddd;border-radius: 10px;">
                    <div class="card h-100" style="background: #dddddd;border-radius: 10px;">
                        <div class="card-body d-flex flex-column justify-content-between p-4" style="background: #dddddd;padding-left: 46px;margin-right: -3px;margin-left: -1px;border-top: 1px solid #703f24;border-left-style: solid;border-left-color: #703f24;border-radius: 10px;box-shadow: 0px 0px 3px 1px #703f24;">
                            <div>
                                <h2 class="text-uppercase text-center text-muted"><strong><span style="color: rgb(112, 63, 36);">Pack 1</span></strong></h2>
                                <h5 class="display-6 fw-bold text-start"><span style="color: rgb(112, 63, 36);">55.200 kz</span></h5>
                                <h2 class="fs-5 fw-semibold" style="padding-bottom: 0px;margin-bottom: 0px;font-size: 40px;margin-left: -9px;padding-left: 8px;"><span style="color: rgb(112, 63, 36);">ÁLBUM 3D DE 50 FOTOS</span></h2>
                                <h5 class="display-6 fw-bold"></h5>
                                <hr>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">Um Quadro digital, tamanho (20x30cm).</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">10 Fotos Virtuais editadas.</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">Envio total de fotos pelo WhatsApp.</span></li>
                                    <li class="d-flex flex-row justify-content-center align-items-center align-content-center mb-2" style="margin-top: 63px;"><span><a class="text-center" href="assets/img/pacotes/PACK1%20NK.jpg" style="font-weight: bold;font-size: 17px;color: var(--bs-blue);">Ver mais</a></span></li>
                                </ul>
                            </div><a class="btn btn-primary d-block w-100" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/pSYJK1mnNdydXR8eA" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd;">Fazer Marcação</a>
                        </div>
                    </div>
                </div>
                <div class="col" style="background: #dddddd;border-radius: 10px;">
                    <div class="card border-primary border-2 h-100" style="background: #dddddd;border-radius: 10px;">
                        <div class="card-body d-flex flex-column justify-content-between p-4" style="background: #dddddd;border-radius: 10px;box-shadow: 0px 0px 3px 1px #703f24;border-top: 1px solid #703f24 ;border-bottom: 1px solid #703f24 ;border-left-color: #703f24;"><span class="badge position-absolute top-0 end-0 rounded-bottom-left text-uppercase" style="background: #703f24;">MAIS <span style="background-color: rgb(112, 63, 36);">REQUISITADO</span></span>
                            <div>
                                <h2 class="text-uppercase text-center text-muted justify-content-center"><strong><span style="color: rgb(139, 155, 183);">pack 2</span></strong></h2>
                                <h5 class="display-6 fw-bold" style="color: #703f24;">89.500 kz</h5>
                                <h2 class="fs-5 fw-semibold" style="padding-bottom: 0px;margin-bottom: 0px;font-size: 40px;margin-left: -9px;padding-left: 8px;color: #703f24;">ÁLBUM 3DDE 80 FOTOS</h2>
                                <hr>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">Um Quadro digital, tamanho (30x45cm).<br></span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">15 Fotos Virtuais editadas.<br></span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">50 Fotos sem filtos</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">Envio total de fotos pelo WhatsApp.</span></li>
                                    <li class="d-flex flex-row justify-content-center align-items-center align-content-center mb-2" style="margin-top: 27px;"><span><a class="text-center" href="assets/img/pacotes/PACK2%20NK.jpg" style="font-weight: bold;font-size: 17px;color: var(--bs-blue);">Ver mais</a></span></li>
                                </ul>
                            </div><a class="btn btn-primary d-block w-100" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/pSYJK1mnNdydXR8eA" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd;">Fazer Marcação</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4" style="background: #dddddd;border-radius: 10px;">
                    <div class="card h-100" style="background: #dddddd;border-radius: 10px;">
                        <div class="card-body d-flex flex-column justify-content-between p-4" style="background: #dddddd;border-radius: 10px;box-shadow: 0px 0px 3px 1px #703f24;border-top: 1px solid #703f24 ;border-right: 3px solid #703f24 ;border-bottom: 1px solid #703f24 ;border-left-color: #703f24;">
                            <div>
                                <h2 class="text-uppercase text-center text-muted justify-content-center align-items-center"><strong><span style="color: rgb(167, 144, 60);">PACK 4</span></strong></h2>
                                <h5 class="display-6 fw-bold" style="color: #703f24;">139.000 kz</h5>
                                <h2 class="fs-5 fw-semibold" style="padding-bottom: 0px;margin-bottom: 0px;font-size: 40px;margin-left: -9px;padding-left: 8px;color: #703f24;">ÁLBUM 3DDE 120 FOTOS</h2>
                                <hr>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white" style="background: var(--bs-card-cap-bg);">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">Quadro digital, tamanho (40x60).<br></span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">Um Quadro digital, tamanho&nbsp; (20x30cm).&nbsp;<br></span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">80 Fotos Virtuais editadas.<br></span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2" style="background: #704f24;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-white">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span style="color: #703f24;">1 Pen-driver com total de 300 FOTOS.<br></span></li>
                                    <li class="d-flex flex-row justify-content-center align-items-center align-content-center mb-2"><span><a class="text-center" href="assets/img/pacotes/PACK4%20NK.jpg" style="font-weight: bold;font-size: 17px;color: var(--bs-blue);">Ver mais</a></span></li>
                                </ul>
                            </div><a class="btn btn-primary d-block w-100" role="button" data-bss-hover-animate="pulse" href="https://forms.gle/pSYJK1mnNdydXR8eA" style="background: #703f24;border-radius: 12px;border-right-width: 0px;border-right-color: #703f24;color: #dddddd;">Fazer Marcação</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="photo-gallery py-4 py-xl-5" style="padding-top: 49px;margin-top: -77px;">
        <div class="container">
            <div class="row gx-1 gy-1 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
                <div class="col item"><a href="assets/img/noivados/7%20(12).jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/noivados/7%20(12).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/4%20(10).jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/noivados/4%20(10).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/11%20(4).jpg"><img class="img-fluid" data-aos="fade-down" data-aos-duration="700" src="assets/img/noivados/11%20(4).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/3%20(2).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/3%20(2).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/10%20(3).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/10%20(3).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/3%20(3).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/3%20(3).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/6%20(3).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/6%20(3).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/2%20(6).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/2%20(6).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/8%20(2).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/8%20(2).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/1%20(10).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/1%20(10).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/5%20(3-2)%20(2).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/5%20(3-2)%20(2).jpg"></a></div>
                <div class="col item"><a href="assets/img/noivados/5%20(3-2)%20(5).jpg"><img class="img-fluid" data-aos="fade-up" data-aos-duration="750" src="assets/img/noivados/5%20(3-2)%20(5).jpg"></a></div>
            </div>
        </div>
    </section>
    